@import './variables.css';

html,
body {
      margin: 0;
      padding: 0;
      height: var(--min-height-section);
}

body {
      white-space: pre;
}

/* Root Container */
#root {
      display: flex;
      flex-direction: column;
      min-height: var(--min-height-screen);
}

/* Main Content */
.body {
      flex: 1;
      padding: var(--spacing-2xl) 0;
}



/* Footer */
.footer {
      padding: var(--spacing-2xl) 0;
}

/* Headings */
h1 {
      font-size: var(--font-size-3xl);
      margin: 0;
}